.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}

canvas {
    border: 1px solid black;
    image-rendering: pixelated;
}

.keypad {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
}

.keypad button {
    text-align: center;
    background: #333333;
    color: #ffffff;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
